#main{
  background-color: rgb(230, 230, 230);
  height: 100%;
}
#body-container{
  position: relative;
  top: 0px;
  width: 100%;
  min-width: 800px;
  bottom: 0px;
  padding-top: 120px;
  height: 100%;
}
#footer{
  z-index: 3;
  bottom: 0px;
  height: 30px;
  position: fixed;
  width: 100%;
  background-color: rgb(245,245,245);
  border-top-style: solid;
  border-top-width: 1px;
  border-color: rgb(150,150,150);
  color: black;
}

.bottom-padding{
  height: 20px;
  width: 100%;
  min-width: 30px;
  min-height: 10px;
}
.top-padding{
  height: 20px;
  width: 100%;
  min-width: 30px;
  min-height: 10px;
}
#counter-footer{
  height: 100%;
  text-align: center;
  width: 301px;
  border-right-style: solid;
  border-right-width: 1px;
  font-size: 12px;
  border-color: rgb(150,150,150);
  padding-top: 8px;
}
