#main{
  background-color: rgb(230, 230, 230);
  height: 100%;
}
#body-container{
  position: relative;
  top: 0px;
  width: 100%;
  min-width: 1000px;
  max-width: 1500px;
  bottom: 0px;
  padding-top: 80px;
}
#footer{
  bottom: 0px;
  height: 30px;
  position: fixed;
  width: 100%;
  background-color: rgb(245,245,245);
  border-top-style: solid;
  border-top-width: 1px;
  border-color: rgb(150,150,150);
  color: black;
}

.bottom-padding{
  height: 20px;
  width: 100%;
  min-width: 30px;
  min-height: 10px;
}
.top-padding{
  height: 20px;
  width: 100%;
  min-width: 30px;
  min-height: 10px;
}
