#body{
  background-color: #4ABDAC;
  height: 100%;
  padding-bottom: 100px !important;
}
#register{
  width: 50%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: auto;
  margin-bottom: auto;
  min-width: 800px;
}
#sign-up{
  z-index: 1;
  display: grid;
  grid-template-rows: auto 500px auto;
}
#login{
  z-index: 1;
  height: 100%;
  display: grid;
  grid-template-rows: auto 500px auto;
}
/* .header{
  height: 100%;
  width: 100%;
} */
.footer{
  height: 100%;
  width: 100%;
}
.hide{
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 1s linear;
}
.normal{
  visibility: visible;
  opacity: 1;
  transition: 1s;
}
#hidder{
  display: grid;
  grid-template-columns: 50% 50%;
  position: absolute;
  width: 50%;
  height: 100%;
  min-width: 800px;
}
#hidder-content{
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-rows: auto 500px auto;
}
#sign-up-content{
  text-align: center;
  display: grid;
  grid-template-rows: auto;
}
#login-content{
  text-align: center;
  display: grid;
  grid-template-rows: auto;
  background-color:;
}
.input-container{
  color: white;
  margin-left: 50px;
  margin-right: 50px;
  height: 60px;
  text-align: left;
  font-size: 23px;
  background-color: rgba(0,0,0,.4);
  width: 310px;
}
.input-container input{
color: white;
width: 299px;
border: none;
background-color: rgba(0,0,0,0);
border-bottom-style: solid;
border-width: medium;
height: 30px;
font-size: 15px;
padding-left: 10px;
}
.input-container input:focus{
  outline: none;
}
.input-container label{
  margin-left: 20px;
}
.input-container button{
  height: 100%;
  width: 100%;
  color: white;
  background-color: rgba(0,0,0, .1);
  border: none;
  border-top-style: solid;
  font-size: 20px;
}
.input-container button:focus{
  outline: none;
}
.input-container button:active{
  background-color: rgba(0,0,0, .3);
}
.tester-left{
  z-index: 0;
  position: fixed;
  margin-right: auto;
  margin-left: 0px;
  height: 100%;
  background-color: #FC4A1A;
  width: 50%;
  transition: 1s;
}
.tester-right{
  z-index: 0;
  position: fixed;
  margin-left: 50%;
  margin-right: auto;
  height: 100%;
  background-color: #FC4A1A;
  width: 50%;
  transition: 1s;
}
#button-holder{
  width: 100%;
  z-index: 3;
}
#button-holder a{
  cursor: pointer;
}
#button-holder button{
  width: 100%;
  height: 50px;
}
#button-holder h1{
  font-size: 50px;
}
